@import 'reset';
@import 'font-awesome';
@import 'bourbon';
@import 'neat';


$fa-font-path:"//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts"
html {
    box-sizing: border-box;
}

   *,*:before, *:after {
    box-sizing: inherit;
   }
