@import 'reset';
@import 'font-awesome';
@import 'bourbon';
@import 'neat';


$fa-font-path:"//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
//setInterval:(1000ms);
html { background-color:navy;

   }

*,*:before, *:after {
    box-sizing: inherit;
}



.h, .m, .s, .ampm{
    @include outer-container;
@include span-columns(3);

     margin-top:10%;
    margin-left:6em;
    display:inline-block;
    height:200px;
    width:125px;
    border: solid 8px orange;
    position: relative;
    background-color: grey;
}
span{
    font-size:150px;
    color:orange;

}




.am{ border:10px solid navy;
    border-radius:10px;
    height:186px;
    width:57px;
    position:absolute;
    background-color: red;
}

 .pm{
     width:57px;
    border:10px solid navy;
    border-radius:10px;
    margin-left:50%;
    background-color: blue;
    height:186px;

    position:absolute;
}



